<wo:WOGenericElement elementName = "div" class="$widgetColumns" style="height: 400px;" />
<!-- Green Box Header -->
<div class="box-header green">
	<wo:ERXJavaScript scriptString = "$showOptionsJS" />
	<wo:ERXJavaScript scriptString = "$showColumnsJS" />
	<!-- Date Pick and Options Form -->
	<wo:AjaxUpdateContainer id="AppointmentSelectedDate" class="SelectedDate">
	<wo:form multipleSubmit = "$true" name="AppointmentDatePickerForm">
		<div class="widget_name">
			<p><wo:str value="$widgetName" /></p>
		</div>
		<!-- Date Picker -->
		<div class="widget_controls" id="two-col">
			<wo:str value="$formattedStartDate" /><wo:AjaxDatePicker id="appointmentDatePickerStart" value="$startDate" format="%m/%d/%Y" size = "0" />
			<wo:AjaxObserveField observeFieldID = "appointmentDatePickerStart" updateContainerID = "AppointmentData" fullSubmit = "$true" action = "$formRefetch" />
		</div>
		<!-- Options -->
		<p><wo:link href="#" string="Options 	+" class="options" onClick="show_appointment_options()" /></p>
		<!-- Option Selections -->
		<div id="appointments_option_menu" class="hidden_menu">
			<h3>Select Option</h3>
			<ul class="optionList">
				<li><wo:link action="$exportToExcel" string="Export to Excel" onClick="show_appointment_options()" /></li>
				<li><wo:link href="#" id="printAppointment" string="Print" onClick="show_appointment_options()"/></li>
			</ul>
		</div>
		<!-- Edit - Columns -->
		<p><wo:link href="#" string="Edit" class="options" onClick="show_appointment_columns()" /></p>
		<!-- Column Selection Options -->
		<div id="column_menu" class="hidden_menu">
			<h3>Select Column Data</h3>
			<wo:WXCheckboxList list = "$availableOptions" selections="$selectedOptions" item = "$anOption" displayString = "$anOption" />
			<div class="hidden_submit"><wo:submitButton action="$optionFilter" value = "Refresh" onclick="show_appointment_columns()" /></div>
		</div>
	</wo:form>
	</wo:AjaxUpdateContainer>	
</div>
<!-- Data -->
<wo:form multipleSubmit = "$true" name="AppointmentWidget">
	<wo:AjaxUpdateContainer id="AppointmentData">
		<div class="innera" id="appointmentToPrint">
			<!-- Print Title - only when printing-->
			<div id="printTitle"><wo:str value="$printTitle" /></div>
			<wo:WOGenericElement elementName="table" class="$widgetTableWrapper" style="$appointmentTable.tableWidth" />
			    <thead class="sort-row" style="height: 40px;">
				<tr>
					<wo:loop list="$selectedOptions" item="$anOption">
						<wo:WOGenericElement elementName ="th" class="$columnClass" style="$columnStyle" />
							<wo:if condition="$isTime"><wo:link action="$sortByDate" string="$anOption" /></wo:if>
							<wo:not condition="$isTime"><wo:str value="$anOption" /></wo:not>
						<wo:WOGenericElement elementName = "/th" />
					</wo:loop>
				</tr>
			    </thead>
			    <tbody>
					<tr>
						<wo:WOGenericElement elementName = "td" colspan="$appointmentTable.columns" style="padding:0;" />
							<wo:WOGenericElement elementName = "div" class="innerb" />
							    <wo:WOGenericElement elementName="table" class="$widgetTableData" style="$appointmentTable.tableWidth" />
									<wo:loop list="$displayGroup.displayedObjects" item="$anAppointment">
										<tr>
											<wo:loop list="$selectedOptions" item="$anOption">
												<wo:WOGenericElement elementName ="td" style="$columnStyle" />
													<wo:if condition="$isDate"><wo:str value="$valueToShow" dateformat = "$dateFormat" /></wo:if>
													<wo:not condition="$isDate"><wo:str value="$valueToShow" /></wo:not>
												<wo:WOGenericElement elementName = "/td" />
											</wo:loop>
										</tr>
									</wo:loop>
								<wo:WOGenericElement elementName = "/table" />
							<wo:WOGenericElement elementName = "/div" />
						<wo:WOGenericElement elementName = "/td" />
					</tr>
				</tbody>
			<wo:WOGenericElement elementName = "/table" />
		</div>
	</wo:AjaxUpdateContainer>
</wo:form>
<wo:WOGenericElement elementName = "/div" />