<div class="box one-col" style="height: 400px;">
<div class="box-header red">
	<wo:ERXJavaScript scriptString = "$showOptionsJS" />
	<!-- Date Pick and Options Form -->
	<wo:AjaxUpdateContainer id="ConfirmationSelectedDate">
	<wo:form multipleSubmit="$true" id="ConfirmationDatePickerForm">
		<div class="widget_name">
			<p><wo:str value="$widgetName"/></p>
		</div>
		<div class="widget_controls">
			<wo:AjaxDatePicker id="confirmationDatePickerStart" value="$startDate" format="%m/%d/%Y" size = "0" />
			<wo:AjaxObserveField observeFieldID = "confirmationDatePickerStart" updateContainerID = "ConfirmationData" fullSubmit = "$true" action = "$formRefetch" evalScripts = "$true" />
		</div>
		<!-- This is the original Widget Design -->
		<!--	<p><wo:link action="options" string="?" class="info"/></p> -->
		<!-- Options -->
		<p><wo:link href="#" string="Options 	+" class="options" onClick="show_options()" /></p>
		<!-- Option Selections -->
		<div id="new_conf_option_menu" class="hidden_menu">
			<h3>Select Option</h3>
			<ul class="optionList">
				<li><wo:link action="$exportToExcel" string="Export to Excel" onClick="show_options()" /></li>
				<li><wo:link href="#" id="printNewConfirmations" string="Print" onClick="show_options()"/></li>
			</ul>
		</div>	
	</wo:form>
	</wo:AjaxUpdateContainer>
</div>
<!-- Data -->
<wo:form multipleSubmit="$true" name="NewConfirmationWidget">
<wo:WOGenericElement elementName="table" class="table_onecol_wrapper" style="$confirmationTable.tableWidth" id="confirmationToPrint" />
	<thead class="sort-row" style="height: 40px;">
		<tr>
			<wo:WOGenericElement elementName ="th" style="$confirmationTable.dateWidth" />Date<wo:WOGenericElement elementName = "/th" />
			<wo:WOGenericElement elementName ="th" style="$confirmationTable.timeWidth" />Time<wo:WOGenericElement elementName = "/th" />
			<wo:WOGenericElement elementName ="th" style="$confirmationTable.nameWidth" />Name<wo:WOGenericElement elementName = "/th" />
			<th colspan="2">Source</th>
		</tr>
	</thead>
	<tbody>
		<tr>
		    <td colspan="5" style="padding:0;">
				<div class="innerb">
				<wo:AjaxUpdateContainer id="ConfirmationData">
					<wo:WOGenericElement elementName="table" class="table_onecol_wrapper" style="$confirmationTable.tableWidth" />
						<wo:loop list="$displayGroup.displayedObjects" item="$displayDictionary">
							<tr>
								<wo:WOGenericElement elementName ="td" style="$confirmationTable.dateWidth" /><wo:str value="$displayDictionary.date" dateformat = "MM/dd" /><wo:WOGenericElement elementName = "/td" />
								<wo:WOGenericElement elementName ="td" style="$confirmationTable.timeWidth" /><wo:str value="$displayDictionary.date" dateformat = "hh:mm a" /><wo:WOGenericElement elementName = "/td" />
								<wo:WOGenericElement elementName ="td" style="$confirmationTable.nameWidth" /><wo:str value="$displayDictionary.name" /><wo:WOGenericElement elementName = "/td" />
								<wo:WOGenericElement elementName ="td" style="$confirmationTable.sourceWidth" /><wo:str value="$displayDictionary.method" /><wo:WOGenericElement elementName = "/td" />
								<wo:WOGenericElement elementName ="td" style="$confirmationTable.completeWidth" /><wo:AjaxObserveField action = "$checkbox"><wo:WOCheckBox checked = "$displayDictionary.completed"/></wo:AjaxObserveField><wo:WOGenericElement elementName = "/td" />
							</tr>
						</wo:loop>
					<wo:WOGenericElement elementName = "/table" />
				</wo:AjaxUpdateContainer>
				</div>
			</td>
		</tr>
	</tbody>
<wo:WOGenericElement elementName = "/table" />
</wo:form>
</div>