<div class="box one-col" style="height: 400px;">
<div class="box-header red">
	<!-- Date Pick and Options Form -->
	<wo:form multipleSubmit = "$true" name="DatePicker">
		<div class="widget_name">
			<p>Spinner</p>
		</div>
	
		<div class="widget_controls">
			<wo:AjaxUpdateContainer id="SelectedDate" onComplete = "$stopSpinner"><wo:AjaxDatePicker id="datePickerStart" value="$startDate" format="%m/%d/%Y" size = "0" onComplete="$startSpinner" /></wo:AjaxUpdateContainer>
			<wo:AjaxObserveField observeFieldID = "datePickerStart" updateContainerID = "ConfirmationData" fullSubmit = "$true" action = "$testAction" />
		</div>	
		<p><wo:link href="#" string="Options 	+" class="options" onClick="show_options()" /></p>
	</wo:form> <!-- Date Pick Form -->
</div>
<wo:AjaxUpdateContainer id = "ConfirmationData">
<div id = "oneColSaveSpinner" style="display:none;"></div> 
<wo:form>
	<wo:AjaxSubmitButton action = "$testAction" value = "Submit" onClick = "$startSpinner" onComplete = "$stopSpinner"/>
</wo:form>
</wo:AjaxUpdateContainer>
</div>