<div id="header">
</div>
<div id="top-bar">
</div>
<div id="wrapper">
	<div class="box two-col" style="height: 300px;">
		<div class="box-header green">
			<div class="options">
				<p>Options 	+</p>
			</div>
		</div>
		<div class="sort-row" style="height: 40px;">
		</div>
	</div>
	<div class="box one-col" style="height: 300px;">
		<div class="box-header red">
			<div class="options">
				<p>Options 	+</p>
			</div>
		</div>
		<div class="description">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		</div>
		<div class="sort-row" style="height: 40px;">
		</div>
	</div>
	<div class="box two-col" style="height: 300px;">
		<div class="box-header blue">
			<div class="options">
				<p>Options 	+</p>
			</div>
		</div>
		<div class="description">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		</div>
		<div class="sort-row" style="height: 40px;">
		</div>
	</div>
	<div class="box one-col" style="height: 300px;">
		<div class="box-header blue">
			<div class="options">
				<p>Options 	+</p>
			</div>
		</div>
		<div class="sort-row" style="height: 40px;">
		</div>
	</div>
	<div class="box one-col" style="height: 300px;">
		<div class="box-header blue">
			<div class="options">
				<p>Options 	+</p>
			</div>
		</div>
		<div class="sort-row" style="height: 40px;">
		</div>
	</div>
	<div class="box one-col" style="height: 300px;">
		<div class="box-header blue">
			<div class="options">
				<p>Options 	+</p>
			</div>
		</div>
		<div class="sort-row" style="height: 40px;">
		</div>
	</div>
	<div class="box one-col" style="height: 300px;">
		<div class="box-header blue">
			<div class="options">
				<p>Options 	+</p>
			</div>
		</div>
		<div class="sort-row" style="height: 40px;">
		</div>
	</div>
</div>