<wo:EGWrapper enabled = "$true" fileName = "$fileName">
<div>
	<table name="Sheet 1">
		<tr>
		<wo:loop list="$selectedOptions" item="$anOption">
			<th cellType="CELL_TYPE_STRING"><wo:str value="$anOption" /></th>
		</wo:loop>
		</tr>
		<wo:loop list="$appointmentData" item="$anAppointment">
			<tr>
				<wo:loop list="$selectedOptions" item="$anOption">
					<td cellType="CELL_TYPE_STRING"><wo:if condition="$isDate"><wo:str value="$valueToShow" dateformat = "$dateFormat" /></wo:if><wo:not condition="$isDate"><wo:str value="$valueToShow" /></wo:not></td>
				</wo:loop>
			</tr>
		</wo:loop>					
	</table>	
</div>
</wo:EGWrapper>