<div class="box one-col" style="height: 400px;">
<div class="box-header red">
	<!-- Date Pick and Options Form -->
	<wo:form multipleSubmit = "$true" name="DatePicker">
	<div class="widget_name">
		<p><wo:str value="$widgetName"/></p>
	</div>

	<div class="widget_controls">
		<wo:AjaxObserveField action="$formRefetch" updateContainerID = "ConfirmationData" id="DatePicker"><wo:AjaxUpdateContainer id="SelectedDate"><wo:AjaxDatePicker id="datePickerStart" value="$startDate" format="%m/%d/%Y" size = "0"/></wo:AjaxUpdateContainer></wo:AjaxObserveField>
	</div>

<!--	<p><wo:link action="$options" string="?" class="info"/></p>
-->
	<p><wo:link href="#" string="Options 	+" class="options" onClick="show_options()" /></p>
	</wo:form>
</div>
<!-- Data -->
<wo:form multipleSubmit="$true" name="ConfirmationWidget">
<wo:WOGenericElement elementName="table" class="table_onecol_wrapper" style="$confirmationTable.tableWidth" />
	<thead class="sort-row" style="height: 40px;">
		<tr>
			<wo:WOGenericElement elementName ="th" style="$confirmationTable.dateWidth" />Date<wo:WOGenericElement elementName = "/th" />
			<wo:WOGenericElement elementName ="th" style="$confirmationTable.timeWidth" />Time<wo:WOGenericElement elementName = "/th" />
			<wo:WOGenericElement elementName ="th" style="$confirmationTable.nameWidth" />Name<wo:WOGenericElement elementName = "/th" />
			<th colspan="2">Source</th>
		</tr>
	</thead>
	<tbody>
		<tr>
		    <td colspan="5" style="padding:0;">
				<div class="innerb">
					<wo:AjaxUpdateContainer id="ConfirmationData">
					<wo:WOGenericElement elementName="table" class="table_onecol_wrapper" style="$confirmationTable.tableWidth" />
						<wo:WODictionaryRepetition dictionary = "$groupedFinalValues" key = "$completedValue" item = "$finalValueList">
						<wo:loop list="$finalValueList" item="$confirmations">
							<tr>
								<wo:WOGenericElement elementName ="td" style="$confirmationTable.dateWidth" /><wo:str value="$confirmations.date" dateformat = "MM/dd" /><wo:WOGenericElement elementName = "/td" />
								<wo:WOGenericElement elementName ="td" style="$confirmationTable.timeWidth" /><wo:str value="$confirmations.date" dateformat = "hh:mm a" /><wo:WOGenericElement elementName = "/td" />
								<wo:WOGenericElement elementName ="td" style="$confirmationTable.nameWidth" /><wo:str value="$confirmations.name" /><wo:WOGenericElement elementName = "/td" />
								<wo:WOGenericElement elementName ="td" style="$confirmationTable.sourceWidth" /><wo:str value="$confirmations.method" /><wo:WOGenericElement elementName = "/td" />
								<wo:WOGenericElement elementName ="td" style="$confirmationTable.completeWidth" /><wo:WOCheckBox checked = "$confirmations.completed" id="$confirmations.name" /><wo:AjaxObserveField action="$checkBoxRefetch" updateContainerID = "ConfirmationData" observeFieldID = "$confirmations.name" /><wo:WOGenericElement elementName = "/td" />
							</tr>
						</wo:loop>
						</wo:WODictionaryRepetition>
					<wo:WOGenericElement elementName = "/table" />
					</wo:AjaxUpdateContainer>
				</div>
			</td>
		</tr>
	</tbody>
<wo:WOGenericElement elementName = "/table" />
</wo:form>
</div>